<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abooc.emoji">

    <application
        android:name="com.abooc.emoji.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_emoji_smile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.abooc.emoji.EmojiActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.abooc.emoji.history.HistoryActivity"
            android:label="聊天记录" />
        <activity
            android:name="com.abooc.emoji.ChatActivity"
            android:label="聊天">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>